<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <style>
        header {
            background-color: #453d3d;
            color: #fff;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
        }

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
            color: rgb(231, 231, 231);
        }

        .menu {
            display: flex;
            list-style: none;
            margin-left: 800px;
            padding: 0;

        }

        .menu li {
            margin-left: 1rem;
        }

        .menu li a {
            color: #fff;
            text-decoration: none;
        }

        .menu li a:hover {
            text-decoration: underline;
            color: aqua;
        }

        nav {
            display: flex;
            align-items: center;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <a class="logo">Admin Dashboard</a>
            <ul class="menu">
                <li><a href="/patients">Patients</a></li>
                <li><a href="/doctors">Doctors</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Dashboard</h2>
            <p>Welcome to the admin dashboard. Here you can view various stats and information about your website or
                application.</p>
        </section>
        <section>

        </section>

    </main>
    <footer>
        <p>&copy; 2023 My Company</p>
    </footer>
</body>

</html>