<!DOCTYPE html>
<html>

<head>
    <title>My Appointments</title>
</head>

<body>
    <h1>My Appointments</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% appointments.forEach(appointment=> { %>
                <tr>
                    <td>
                        <%= appointment.appointmentDate %>
                    </td>
                    <td>
                        <%= appointment.startTime %> - <%= appointment.endTime %>
                    </td>
                    <td>
                        Pending
                    </td>

                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

</html>