<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <style>
        header {
            background-color: #453d3d;
            color: #fff;
            display: flex;
            justify-content: space-between;
            padding: 1rem;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 5px;
        }

        nav {
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav li {
            margin: 0 10px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }

        main {
            margin: 20px;
        }

        h1 {
            font-size: 36px;
            margin: 0;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
        }

        footer {
            background-color: #eee;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/appointment/register"> Book Appointment</a></li>
                <li><a href="/myappointments">My Appointments</a></li>
                <li><a href="#">My Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Welcome, patient</h1>
        <p>Your latest appointment was on.</p>
        <p>You have= prescriptionCount active prescriptions.</p>
        <p>You have reportCount reports to view.</p>
    </main>

    <footer>
        <p>&copy; 2023 My Hospital</p>
    </footer>
</body>

</html>